*{
    font-family: century gothic;
}

body{
    background-color: black;
}

.title{
    text-align: center;
    color: #FFE81F;
}

#cardHolder{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardStyle{
    background-color: #FFE81F;
    width: max-content;
    padding: 1%;
    border-radius: 50px;
}

button{
    background-color: black;
    color: #FFE81F;
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;
    border-style: none;
}